# List

In [1]:
countries = ["afghanistan","albania","algeria"]
pop = [30.55,2.77,39.21]

index_albania = countries.index("albania")
pop_albania = pop[index_albania]

print("Jumlah penduduk albania:",pop_albania,"juta")

Jumlah penduduk albania: 2.77 juta

# Dictionaries

In [2]:
world = {
    "afghanistan":30.55,
    "albania":2.77,
    "algeria":39.21
}

print("Jumlah penduduk algeria",world["algeria"],"juta")

Jumlah penduduk algeria 39.21 juta

In [3]:
# menambahkan atau mengganti values dictionary
world["sealand"] = 0.000027

print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.7e-05}

In [4]:
# mengecek apakah ada key "sealand" di dictionary
print("sealand" in world)

True

In [5]:
# menghapus data di dictionary
del(world["sealand"])

print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [6]:
# melihat semua key yang ada di dictionary
print(world.keys())

dict_keys(['afghanistan', 'albania', 'algeria'])

## Dictionary Bersarang

In [7]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

# menambahkan data ke dictionary
data = {"capital":"rome", "population":59.83}
europe["italy"] = data

# mengambil data
print("Ibu kota france:",europe["france"]["capital"])

Ibu kota france: paris

# Pandas

- row = observations
- column = variable

Pada dictionary:
- key = column tables
- values = data

## Cara 1:

In [8]:
# kita bisa membuat DataFrame melalui dictionary
data = {
    "country":["Brazil","Rusia","India","China","South Africa"],
    "capital":["Brasilia","Moscow","New Delhi","Beijing","Pretoria"],
    "area":[8.516,17.10,3.286,9.597,1.221],
    "population":[200.4,143.5,1252,1357,52.98]
}

import pandas as pd
brics = pd.DataFrame(data)

brics.index = ["BR","RU","IN","CH","SA"]

print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU         Rusia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## Cara 2:

In [9]:
brics = pd.read_csv("datasets/brics.csv",index_col=0) # inddex_col=0 berfungsi agar kolom pertama menjadi row label

print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## Pandas Series dan Pandas DataFrame

In [10]:
# pandas series
print(brics["country"])
print("\n")
print(type(brics["country"]))

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object


<class 'pandas.core.series.Series'>

In [11]:
# pandas DataFrame
print(brics[["country"]])
print("\n")
print(type(brics[["country"]]))

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa


<class 'pandas.core.frame.DataFrame'>

# Slicing
Idealnya:
- 2D NumPy arrays
- my_arrays[rows,columns]

In [12]:
# memgambil data pada kolom country dan capital
print(brics[["country","capital"]])

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [13]:
# mengambil data baris pada index 1 sampai dengan index 3
print(brics[1:4])

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

## Slicing Loc
Slicing dengan menggunakan name label

In [14]:
# pandas series
print(brics.loc["RU"])

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [15]:
# pandas DataFrame
print(brics.loc[["RU"]])

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [16]:
# mengambil baris dan kolom teripilih
print(brics.loc[["RU","IN","CH"],["country","capital"]])

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [17]:
# mengambil semua baris tetapi dengan kolom terpilih
print(brics.loc[:,["country","population"]])

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

## Slicing Iloc
Slicing dengan menggunakan row index

In [18]:
# pandas DataFrame
print(brics.iloc[[1]])

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [19]:
# mengambil baris dan kolom terpilih
print(brics.iloc[[1,3,4],[0,1]])

         country   capital
RU        Russia    Moscow
CH         China   Beijing
SA  South Africa  Pretoria

In [20]:
# mengambil semua baris tetapi dengan kolom terpilih
print(brics.iloc[:,[0,2]])

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221