# NumPy

In [3]:
import numpy as np

np_height = np.array([1.73,1.68,1.71,1.89,1.79])
np_weight = np.array([65.4,59.2,63.6,88.4,68.7])

bmi = np_weight / np_height ** 2

print(bmi)
print("\n")
print(f"bmi > 23: {bmi > 23}")
print("\n")
print(f"bmi that bmi > 23: {bmi[bmi > 23]}")

[21.85171573 20.97505669 21.75028214 24.7473475  21.44127836]


bmi > 23: [False False False  True False]


bmi that bmi > 23: [24.7473475]

# Comparison

Comparison Operator: >, <, >=, <=, ==, !=

In [4]:
# camparison
print("carl" < "chris")

True

# Logic
Logic Operator:
- and -> Jika keduanya True, maka True
- or -> Jika salah satunya True, maka True
- not -> Kebalikan dari nilainya

In [13]:
# +++3---5+++9---13+++
x = int(input("Masukkan angka: "))

a = x < 3

q = x > 5
r = x < 9
b = q and r

c = x > 13

z1 = a or b
z2 = z1 or c


print(f"x < 3 atau 5 < x < 9 atau x > 13: {z2}")

Masukkan angka: 13
x < 3 atau 5 < x < 9 atau x > 13: False

# NumPy Logical
NumPy Logical berfungsi untuk melakukan operasi logika terhadap array
- np.logical_and()
- np.logical_or()
- np.logical_not()

In [18]:
# contoh numpy logical
print(bmi)
print("\n")
print("21 < bmi < 23:",np.logical_and(bmi>21, bmi<23))
print("\n")
print("bmi that 21 < bmi < 23:",bmi[np.logical_and(bmi>21, bmi<23)])

[21.85171573 20.97505669 21.75028214 24.7473475  21.44127836]


21 < bmi < 23: [ True False  True False  True]


bmi that 21 < bmi < 23: [21.85171573 21.75028214 21.44127836]

# If

In [19]:
z = 2
if z%2 == 0:
    print(z,"is even")

2 is even

# Else

In [20]:
z = 5
if z%2 == 0:
    print(z,"is even")
else:
    print(z,"is odd")

5 is odd

# Elif

In [21]:
z = 3
if z%2 == 0:
    print(z,"is divisible by 2")
elif z%3 == 0:
    print(z,"is divisible by 3")
else:
    print(z,"is neither divisible by 2 nor by 3")

3 is divisible by 3

# Filtering DataFrame
Karena pandas library dibangun di atas numpy, maka kita bisa menggunakan numpy logical

In [26]:
import pandas as pd

brics = pd.read_csv("datasets/brics.csv",index_col=0) # index_col=0 berfungsi agar kolom pertamanya menjadi row label

display(brics)

print("\nData dengan area lebih besar dari 8")
is_huge = brics.loc[:,"area"] > 8
display(brics[is_huge])

print("\nData dengan area lebih besar dari 8 dan kurang dari 10")
display(brics[np.logical_and(brics["area"]>8, brics["area"]<10)])

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

Data dengan area lebih besar dari 8

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

Data dengan area lebih besar dari 8 dan kurang dari 10

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0